/*imported fonts*/

@font-face {
    src:url(fonts/RoxboroughCF-Bold.woff);
    font-family: RoxboroughCF;
}
h1 {font-family:RoxboroughCF;}

   /* decide which font weight  to upload */

/*-----general-------*/
*{ 
    margin: 0%;
    padding:0%;
    box-sizing:border-box; 
   
}

body {
    cursor:none;
}

/*------Nav bar------*/

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Poppins';
	padding: 0 3%;
	height: 80px;
	background-color: none;
}

nav .logo {
    margin-left: 3em;
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	/*font-size: 24px;
	color: #8D8D8D;*/
    /*background-color: #f4f4f4;    */
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    /*background-color: #f4f4f4;*/
}
nav .links li {
	list-style: none;
    display: inline-block;
    padding: 0 20px;
    /*background-color: #f4f4f4;*/
    
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 18px;
	font-weight: bold;
    letter-spacing: 0.1em;
	color: #308978;
	text-decoration: none;
    /* background-color: #f4f4f4; */
    
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
    background:#f4f4f4; 
}
nav .icon-burger .line {
	width: 30px;
	height: 3px;
	background-color: #308978;
	margin: 7px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: left;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content:space-evenly;
		background-color: #f4f4f4;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

nav .links a:hover{
    color: #0064FA;
    text-decoration: none;
 }

/*----------End of navbar------------*/


/*----------Start of Intro (hero)------------*/

.hero {
	position: relative;
	margin-top: 80px;
    display: block;
	width: 100%;
}

.hello {
    padding-top: 10%;
    padding-bottom: 0%;
    font-family: 'RoxboroughCF';
    font-weight: bold;
    font-size: 4em;
    padding-left: 6%;
    color:#4D4E4F;
}

.content {
    height: 100vh;
    background-color: #f4f4f4; 
}

.catch {
    font-family: 'RoxboroughCF';
    font-weight: bold;
    font-size: 4em;
    padding-left: 6%;
    color:#4D4E4F;
    
}

.aboutme {
    font-family: 'Poppins';
    font-size: 1.5em;
    padding-left: 6%;
    color:#606163;
}

.contact a {
    font-family: 'Poppins';
    font-size: 3vh;
    padding: 1%;
    background: #4D4E4F;
    text-decoration: none;
    color: #f4f4f4;
    display: inline-block;
    margin-top: 2%;
    border-radius: 0px;
    margin-left: 6%;
}
span {
    color:#308978;
}

/*-------her0 image-----*/

.img-box{
    width:45px;
    height: 8%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.main-img {
    left: 40%;
}

.img-box img {
    height: 1000%;
    position: absolute;
    left: 10%;
    bottom: 90%;
    transform: translateX(-100%);
    transition: bottom 1.5s, left 1.5s;
}
    
    
.img-box:hover .back-img {
    bottom:130%
}

.img-box:hover .main-img {
    left:50%;
}

/*----------End of Intro------------*/


/*----------Portfolio------------*/
/*----------Portfolio general------------*/

.portfolio {
    /*padding: 4em 2em;*/
    text-align: center;
    /*background: #fffff; *//* change for different background color*/
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

.subtitle {
    font-family: 'RoxboroughCF';
    font-weight: bold;
    font-size: 80px;
    color:#3F3B3D;
   
}

.featured-desc {
    font-family: 'Poppins';
    font-size: 1rem;
}

/*----------Project texts (responsive)------------*/

@media screen and (min-width: 601px) {
    p.subtitle {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    p.subtitle {
      font-size: 45px;
    }
  }

@media screen and (min-width: 601px) {
    p.featured-desc {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    p.featured-desc {
      font-size: 10px;
    }
  }

/*----------Portfolio specific------------*/

.portfolio-container-1 {
    height: 51.31 rem;
    width: 95.38 rem;
    margin:0;
    background: #f4f4f4 url(images/half-moon-yellow3.svg);
    background-repeat: none;
    background-position: center;
}  

.portfolio-container-2 {
    height: 51.31 rem;
    width: 95.38 rem;
    margin:0;
    background: #f4f4f4 url(images/half-moon-white1.svg);
    background-repeat: none;
    background-position: center;  
}

.portfolio-container-3 {
    display:absolute;
    height: 51.31 rem;
    width: 95.38 rem;
    margin:0;
    background: #f4f4f4 url(images/half-moon-beige1.svg);
    background-repeat: none;
    background-position: center;
}

.portfolio-container-4 {
    display:absolute;
    height: 51.31 rem;
    width: 95.38 rem;
    margin:0;
    background: #f4f4f4 url(images/half-moon-2white.svg);
    background-repeat: none;
    background-position: center;
}


.inner {
    padding-bottom: 50px;
    
}

/*.background_shape1  {
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    max-width: 1519.2px;
    height: auto;
    z-index: -1;
  } */

  /*----------Project images------------*/

  .responsive1 {
      width: 100%;
      max-width: 800px;
      height: auto;
      
  }
  
  .responsive2 {
    width: 100%;
    max-width: 600px;
    height: auto;
    
  }

  .responsive3 {
    width: 100%;
    max-width: 650px;
    height: auto;
 
  }

  
  .responsive4 {
    width: 100%;
    max-width: 620px;
    height: auto;
 
  }

  /*.breather {
      height: 20px;
      width: 1519.2;
      margin: 0%;
      padding: 0%;
  } */

/*----------footer---------*/

.footer-main-div {
    width: 100%;
    height: 30px;
    margin: auto;
    left:0%;
    bottom: 0%;
    position:relative;
    padding: 30px 30px 150px 30px;
    background: #308978;
}

.social-menu {
    width: 100%;
    height: auto;
    margin-top: 50px;
    
}
.social-menu ul {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    height: 0px;
    
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #F6CE4F;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.copy{
    padding: 0px 0px 30px;
    height: 0px;
    top: 2%;
    bottom: 90%;
    margin-top: 100px;
}

.fab, .far {
    font-size: 20px;
    font-weight: 700;
    color: teal;
    display: flex;
    display: inline-block;
    margin-top: 15px;
}

/*----------footer end---------*/


/*----------cursor---------*/

/*cursor*/
.cursor {
    width: 25px;
    height: 25px;
    border: rgb(117, 84, 23);
    background-color:#0064FA;
    /*mix-blend-mode: difference;*/
    border-radius: 50%; 
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: 1s ease-out;
    animation: .7s infinite alternate; 
    pointer-events: none;
    z-index: 2; 
    }
   
   .link-grow {
     transform: scale(3.5);
     opacity: 60%;
   }

